.navbar a {
	margin-left: 8px;
	margin-right: 8px;
	text-decoration: none;
	font-weight: bold;
	padding: 6px;
	color: rgba(255, 255, 255, 0.7);
}

.navbar a:hover {
	color: #b1b1b1;
}

#appName {
	color: #4da7d9;
}

#zzz {
	margin-left: 5px;
	margin-bottom: 5px;
	max-width: 35px;
}
