.Dreams {
	text-align: center;
}

#submitButton:hover {
	background-color: #7e7e7e; /* change to your desired color */
}

#dreamText {
	width: 50%;
	height: 200px;
	resize: none;
	border-radius: 4px;
	border-color: #1d1d1d;
}